body {
    position: absolute;
    width: 1440px;
    height: 1028px;
    background-image: url(backgroundhouse.png);
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
background-color: black;
    }
.login{
    position: absolute;
width: 158px;
height: 75px;
left: 282px;
top: 212px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
/* identical to box height */

letter-spacing: -0.015em;

color: #DCDCDC;
}